* {
margin:0;
padding:0;
outline:none
}

.container {
	margin: 0;
	padding: 30px 0px 60px 0px;
	font-family: "Rubik", sans-serif;
	text-decoration: none;
}

.header {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 80px 35px 80px;
	font-family: "Rubik", sans-serif;
}

.header.shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


.subheader {
	display: flex;
	grid-gap: 20px;
	align-items: center;
}

.header button {
	background-color: white;
	border: 2px solid rgb(220,220,220);
	text-align: center;
	padding: 15px 20px;
	transition: background-color 0.6s;
	align-self: center;
	font-family: "Rubik", sans-serif;
}

.header button:hover {
	background-color: rgb(220,220,220);
	cursor: pointer;
}


.main_info {
	margin: 0;
	outline: none;
	width: 100%;
	padding: 100px 0px;
	background: url("images/mussels.jpg");
	background-size: cover;

}

.pushkin_article {
	margin: 50px 50px 50px 50px;
	width: 40%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: white;
}

.pushkin_title {
	padding: 30px 0px 0px 0px;
	font-size: 50px;
	text-align: center;
}

.price_and_time {
	margin: 40px 50px 0px 50px;
	display: flex;
	justify-content: space-between;
}

.pushkin_price {
	color: rgb(150,150,150);
	font-size: 18px;
	margin: 10px 0; 
	text-decoration: none;
}

.pushkin_time {
	margin: 5px 15px;
	padding: 5px 15px;
	color: white;
	background: black;
	background-size: cover;
	border-radius: 20px;
	font-size: 16px;
	margin: 10px 0; 
	text-decoration: none;
}

.categories {
	padding: 20px 0px 20px 70px;
	display: flex;
	justify-content: flex-start;
	grid-gap: 20px;
}

.category {
	color: rgb(170,170,170);
	text-decoration: none;
	padding: 10px;
}

.category:hover {
	background: rgb(240,240,240);
	cursor: pointer;
}

.category:active {
	color: rgb(144,238,144);
	cursor: pointer;
}

.hr {
	color: rgb(240,240,240);
	width: 100%;
	margin: 0;
	padding: 0;
}

.side_dish {
	padding: 40px 20px 20px 80px;
}

.dishes {
	display: flex;
	padding: 0px 30px;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;

}

.dish {
	width: 532px;
	margin: 30px;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid rgb(220,220,220);
	transition: 0.3s;
}

.dish:hover {
	background: rgb(220,220,220);
	cursor: pointer;
	border-radius: 30px;
}

.dish_info {
	width: 60%;
	padding: 0px 0px 0px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.dish_price {
	font-weight: bold;
}

.dish_image {
	object-fit: cover;
	flex-grow: 10;
}



.footer {
	background: rgb(64,64,64);
	background-size: cover;
	margin: 0;
	outline:none;
	font-family: "Rubik", sans-serif;
}

.white-logo {
	padding: 40px 90px;

}

.green {
	font-size: 20px;
	color: rgb(220,220,220);
}

.info {
	display: flex;
	justify-content: space-around;
}

.column {
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-gap: 20px;
}

.column a {
	text-decoration: none;
	color: rgb(220,220,220);
}

.buttons {
	display: flex;
	justify-content: center;
	grid-gap: 40px;
	padding: 40px;
}

.very_bottom {
	display: flex;
	justify-content: space-around;
	padding: 30px;
	color: rgb(220,220,220);
}

.languages select {
	background-color: rgb(104,104,104);
	color: rgb(220,220,220);
	padding: 10px 40px 10px 5px;
	font-family: "Rubik", sans-serif;
	border: none;
}
